@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";
@import "./css/sf.css";

/* Platform-specific font families */
@media ios {
  :root {
    --font-sans: system-ui;
    --font-mono: ui-monospace;
  }
}

@media android {
  :root {
    --font-sans: normal;
    --font-mono: monospace;
  }
}
